body{
    margin-top: 50px;
}
.avatar {
height: 300px;
width: 300px;
}
.card {
font-family: 'Courier New', Courier, monospace;
width: 400px;
height: 400px;
margin: 0 auto;
padding: auto;
display: flex;
flex-direction: column;
justify-content: space-evenly;
text-align: center;
align-items: center;
background: #B7EFC5;
color: #10451D;
border-radius: 20%;
/* border-: 6px solid #d8cefe; */
}

/* #border-blue {
border: 1px dotted blue;
} */
p{
    font-size: small;
}
/*
Stretch goals:
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/


