body{
    margin-top: 50px;
}
.avatar {
height: 150px;
width: 150px;
}
.card {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 400px;
height: 200px;
margin: 0 auto;
padding: auto;
display: flex;
justify-content: space-evenly;
text-align: center;
align-items: center;
background: #B7EFC5;
color: #10451D;
border-bottom: 6px solid #d8cefe;
}
p{
    font-size: small;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
